---

import Buttons from "@nanoModules/buttons/buttons.astro";
import "./Card.css";

interface Props {
  icon?: string;
  image?: string;
  title: string;
  description: string;
  button?: string;
}


const { icon, image, title, description,button } = Astro.props as Props;
---
<div class="Card">
  {icon && (
    <div class="icon-circle">
      <img src={icon} alt={title} />
    </div>
  )}
  {image &&  (
    
    <div class="image">
      <img src={image} alt={title} />
    </div>
  )}
  <div class="title">{title}</div>
  <div class="description">{description}</div>

  {button && (
    
    <Buttons text="Learn more" type = "btn-filled"/>

    
  )}
</div>
